{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
    <body>

        <h1 class="mainTitle">PRAUAS</h1>
        <h2 class="mainTitle">Filipus Dani - 202000135</h2>
        <div class="container">
            <!-- =============================================================================================== -->
            <div class="bigbox">
                <h1>#1 Pabrik Smart Farm</h1>
                <div class="mediumbox">
                    <div class="smallbox">
                        <h1>Subsistem Susu dan Telur</h1>
                        <h2>Sensor Temperature</h2>
                        <p><span id="Temperature"></span>&deg;C</p>
                        <h2>Sensor Conductivity</h2>
                        <p><span id="Conductivity"></span> mS/cm</p>
                        <h2>Sensor Flow Susu</h2>
                        <p><span id="Flow"></span> L/min</p>
                        <hr class="smallboxhr">
                        <h2>Aktuator Milking Machine</h2>
                        <p><span id="system1_hvac"></span> mm/s</p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem Daging Merah</h1>
                        <h2>Sensor CO</h2>
                        <p><span id="CO"></span> ppm</p>
                        <h2>Sensor Amonia</h2>
                        <p><span id="Amonia"></span> ppm</p>
                        <h2>Sensor Pressure</h2>
                        <p><span id="Pressure"></span> kPa</p>
                        <hr class="smallboxhr">
                        <h2>Aktuator Slaughter Machine</h2>
                        <p><span id="system1_hvac"></span>rad/s</p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem Daging Putih</h1>
                        <h2>Sensor O2</h2>
                        <p><span id="O2"></span>%</p>
                        <h2>Sensor CO2</h2>
                        <p><span id="CO2"></span> ppm</p>
                        <h2>Sensor Water Level</h2>
                        <p><span id="Waterlevel"></span> m</p>
                        <hr class="smallboxhr">
                        <h2>Aktuator Feeding Machine</h2>
                        <p><span id="system1_hvac"></span> cm&#xB2;/s</p>
                    </div>
                </div>
            </div>
            <!-- =============================================================================================== -->
            <div class="bigbox">
                <h1>#2 Pabrik Smart Plantation</h1>
                <div class="mediumbox">
                    <div class="smallbox">
                        <h1>Subsistem Sumber Karbohidrat</h1>
                        <h2>Sensor Soil Moisture</h2>
                        <p><span id="Moisture"></span>%</p>
                        <h2>Sensor pH</h2>
                        <p><span id="PH"></span> unit</p>
                        <h2>Sensor Sunlight</h2>
                        <p><span id="Sunlight"></span> lux</p>
                        <hr class="smallboxhr">
                        <h2>Aktuator Milking Machine</h2>
                        <p><span id="system1_hvac"></span> mm/s</p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem Sayuran</h1>
                        <h2>Sensor Humidity</h2>
                        <p><span id="Humidity"></span>%</p>
                        <h2>Sensor Anemometer</h2>
                        <p><span id="Anemometer"></span> m/s</p>
                        <h2>Sensor UV</h2>
                        <p><span id="UV"></span> mW/cm&#xB2;</p>
                        <hr class="smallboxhr">
                        <h2>Aktuator Slaughter Machine</h2>
                        <p><span id="system1_hvac"></span>rad/s</p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem Buah-Buahan</h1>
                        <h2>Sensor Radiation</h2>
                        <p><span id="Radiation"></span> W/m&#xB2;</p>
                        <h2>Sensor Berat Buah</h2>
                        <p><span id="Berat"></span> kg</p>
                        <h2>Sensor Color Hue</h2>
                        <p><span id="Color"></span>&deg;</p>
                        <hr class="smallboxhr">
                        <h2>Aktuator Feeding Machine</h2>
                        <p><span id="system1_hvac"></span> cm&#xB2;/s</p>
                    </div>
                </div>
            </div>
            <!-- =============================================================================================== -->
            <div class="bigbox">
                <h1>#3 Pabrik Smart Restaurant</h1>
                <div class="mediumbox">
                    <div class="smallbox">
                        <h1>Subsistem Deteksi Musim</h1>
                        <h2>Sensor Barometer</h2>
                        <p><span id="Barometer"></span> kPa</p>
                        <h2>Sensor Wind</h2>
                        <p><span id="Wind"></span>&deg;</p>
                        <h2>Sensor Visibility</h2>
                        <p><span id="Visibility"></span> km</p>
                        <hr class="smallboxhr">
                        <h2>Aktuator Milking Machine</h2>
                        <p><span id="system1_hvac"></span> mm/s</p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem Deteksi Penjualan</h1>
                        <h2>Sensor Stock</h2>
                        <p><span id="Stock"></span>%</p>
                        <h2>Sensor Sellingrate</h2>
                        <p><span id="Sellingrate"></span> item/day</p>
                        <h2>Sensor Satisfaction</h2>
                        <p><span id="Satisfaction"></span></p>
                        <hr class="smallboxhr">
                        <h2>Aktuator Slaughter Machine</h2>
                        <p><span id="system1_hvac"></span>rad/s</p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem Pengunjung Restoran</h1>
                        <h2>Sensor Occupancy</h2>
                        <p><span id="Occupancy"></span>%</p>
                        <h2>Sensor Audio</h2>
                        <p><span id="Audio"></span> dB</p>
                        <h2>Sensor Sentimen</h2>
                        <p><span id="Sentimen"></span>%</p>
                        <hr class="smallboxhr">
                        <h2>Aktuator Feeding Machine</h2>
                        <p><span id="system1_hvac"></span> cm&#xB2;/s</p>
                    </div>
                </div>
            </div>
            <!-- =============================================================================================== -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            function updateView(message) {

                const Temperature = JSON.parse(
                    message["Temperature"]
                    );
                document.querySelector("#Temperature").innerHTML =
                    Temperature[0].fields.value;
                const Conductivity = JSON.parse(
                    message["Conductivity"]
                    );
                document.querySelector("#Conductivity").innerHTML =
                    Conductivity[0].fields.value;
                const Flow = JSON.parse(
                    message["Flow"]
                    );
                document.querySelector("#Flow").innerHTML =
                    Flow[0].fields.value;
                const CO = JSON.parse(
                    message["CO"]
                    );
                document.querySelector("#CO").innerHTML =
                    CO[0].fields.value;
                const Amonia = JSON.parse(
                    message["Amonia"]
                    );
                document.querySelector("#Amonia").innerHTML =
                    Amonia[0].fields.value;
                const Pressure = JSON.parse(
                    message["Pressure"]
                    );
                document.querySelector("#Pressure").innerHTML =
                    Pressure[0].fields.value;
                const O2 = JSON.parse(
                    message["O2"]
                    );
                document.querySelector("#O2").innerHTML =
                    O2[0].fields.value;
                const CO2 = JSON.parse(
                    message["CO2"]
                    );
                document.querySelector("#CO2").innerHTML =
                    CO2[0].fields.value;
                const Waterlevel = JSON.parse(
                    message["Waterlevel"]
                    );
                document.querySelector("#Waterlevel").innerHTML =
                    Waterlevel[0].fields.value;
                const Moisture = JSON.parse(
                    message["Moisture"]
                    );
                document.querySelector("#Moisture").innerHTML =
                    Moisture[0].fields.value;
                const PH = JSON.parse(
                    message["PH"]
                    );
                document.querySelector("#PH").innerHTML =
                    PH[0].fields.value;
                const Sunlight = JSON.parse(
                    message["Sunlight"]
                    );
                document.querySelector("#Sunlight").innerHTML =
                    Sunlight[0].fields.value;
                const Humidity = JSON.parse(
                    message["Humidity"]
                    );
                document.querySelector("#Humidity").innerHTML =
                    Humidity[0].fields.value;
                const Anemometer = JSON.parse(
                    message["Anemometer"]
                    );
                document.querySelector("#Anemometer").innerHTML =
                    Anemometer[0].fields.value;
                const UV = JSON.parse(
                    message["UV"]
                    );
                document.querySelector("#UV").innerHTML =
                    UV[0].fields.value;
                const Radiation = JSON.parse(
                    message["Radiation"]
                    );
                document.querySelector("#Radiation").innerHTML =
                    Radiation[0].fields.value;
                const Berat = JSON.parse(
                    message["Berat"]
                    );
                document.querySelector("#Berat").innerHTML =
                    Berat[0].fields.value;
                const Color = JSON.parse(
                    message["Color"]
                    );
                document.querySelector("#Color").innerHTML =
                    Color[0].fields.value;
                const Barometer = JSON.parse(
                    message["Barometer"]
                    );
                document.querySelector("#Barometer").innerHTML =
                    Barometer[0].fields.value;
                const Wind = JSON.parse(
                    message["Wind"]
                    );
                document.querySelector("#Wind").innerHTML =
                    Wind[0].fields.value;
                const Visibility = JSON.parse(
                    message["Visibility"]
                    );
                document.querySelector("#Visibility").innerHTML =
                    Visibility[0].fields.value;
                const Stock = JSON.parse(
                    message["Stock"]
                    );
                document.querySelector("#Stock").innerHTML =
                    Stock[0].fields.value;
                const Sellingrate = JSON.parse(
                    message["Sellingrate"]
                    );
                document.querySelector("#Sellingrate").innerHTML =
                    Sellingrate[0].fields.value;
                const Satisfaction = JSON.parse(
                    message["Satisfaction"]
                    );
                document.querySelector("#Satisfaction").innerHTML =
                    Satisfaction[0].fields.value;
                const Occupancy = JSON.parse(
                    message["Occupancy"]
                    );
                document.querySelector("#Occupancy").innerHTML =
                    Occupancy[0].fields.value;
                const Audio = JSON.parse(
                    message["Audio"]
                    );
                document.querySelector("#Audio").innerHTML =
                    Audio[0].fields.value;
                const Sentimen = JSON.parse(
                    message["Sentimen"]
                    );
                document.querySelector("#Sentimen").innerHTML =
                    Sentimen[0].fields.value;

            }

            function getData() {
                fetch(`http://${window.location.host}/prauas/api/sensor/`)
                    .then((res) => res.json())
                    .then((data) => updateView(data));
            }

            setInterval(function () {
                const e = getData();
            }, 1000);

            Number.prototype.pad = function (size) {
                var s = String(this);
                while (s.length < (size || 2)) {
                    s = "0" + s;
                }
                return s;
            };
        </script>
    </body>
</html>
