{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
    <body>

        <h1 class="mainTitle">PRAUAS</h1>
        <h2 class="mainTitle">Filipus Dani - 202000135</h2>
        <div class="container">
            <!-- =============================================================================================== -->
            <div class="bigbox">
                <h1>#1 Pabrik Smart Farm</h1>
                <div class="mediumbox">
                    <div class="smallbox">
                        <h1>Subsistem 1: HVAC Control</h1>
                        <h2>SUBSISTEM 1: Sensor Temperatur</h2>
                        <p><span id="temperature"></span>&deg;C</p>
                        <h2>SUBSISTEM 1: Sensor Kelembapan</h2>
                        <p><span id="system1_humidity"></span>%</p>
                        <h2>SUBSISTEM 1: Sensor Okupansi</h2>
                        <p><span id="system1_occupancy"></span> orang</p>
                        <h2>AKTUATOR: Sensor Okupansi</h2>
                        <p><span id="system1_hvac"></span></p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem 2: HVAC Control</h1>
                        <h2>SUBSISTEM 1: Sensor Temperatur</h2>
                        <p><span id="temperature"></span>&deg;C</p>
                        <h2>SUBSISTEM 1: Sensor Kelembapan</h2>
                        <p><span id="system1_humidity"></span>%</p>
                        <h2>SUBSISTEM 1: Sensor Okupansi</h2>
                        <p><span id="system1_occupancy"></span> orang</p>
                        <h2>AKTUATOR: Sensor Okupansi</h2>
                        <p><span id="system1_hvac"></span></p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem 1: HVAC Control</h1>
                        <h2>SUBSISTEM 1: Sensor Temperatur</h2>
                        <p><span id="temperature"></span>&deg;C</p>
                        <h2>SUBSISTEM 1: Sensor Kelembapan</h2>
                        <p><span id="system1_humidity"></span>%</p>
                        <h2>SUBSISTEM 1: Sensor Okupansi</h2>
                        <p><span id="system1_occupancy"></span> orang</p>
                        <h2>AKTUATOR: Sensor Okupansi</h2>
                        <p><span id="system1_hvac"></span></p>
                    </div>
                </div>
            </div>
            <!-- =============================================================================================== -->
            <div class="bigbox">
                <h1>#1 Pabrik Smart Farm</h1>
                <div class="mediumbox">
                    <div class="smallbox">
                        <h1>Subsistem 1: HVAC Control</h1>
                        <h2>SUBSISTEM 1: Sensor Temperatur</h2>
                        <p><span id="temperature"></span>&deg;C</p>
                        <h2>SUBSISTEM 1: Sensor Kelembapan</h2>
                        <p><span id="system1_humidity"></span>%</p>
                        <h2>SUBSISTEM 1: Sensor Okupansi</h2>
                        <p><span id="system1_occupancy"></span> orang</p>
                        <h2>AKTUATOR: Sensor Okupansi</h2>
                        <p><span id="system1_hvac"></span></p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem 2: HVAC Control</h1>
                        <h2>SUBSISTEM 1: Sensor Temperatur</h2>
                        <p><span id="temperature"></span>&deg;C</p>
                        <h2>SUBSISTEM 1: Sensor Kelembapan</h2>
                        <p><span id="system1_humidity"></span>%</p>
                        <h2>SUBSISTEM 1: Sensor Okupansi</h2>
                        <p><span id="system1_occupancy"></span> orang</p>
                        <h2>AKTUATOR: Sensor Okupansi</h2>
                        <p><span id="system1_hvac"></span></p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem 1: HVAC Control</h1>
                        <h2>SUBSISTEM 1: Sensor Temperatur</h2>
                        <p><span id="temperature"></span>&deg;C</p>
                        <h2>SUBSISTEM 1: Sensor Kelembapan</h2>
                        <p><span id="system1_humidity"></span>%</p>
                        <h2>SUBSISTEM 1: Sensor Okupansi</h2>
                        <p><span id="system1_occupancy"></span> orang</p>
                        <h2>AKTUATOR: Sensor Okupansi</h2>
                        <p><span id="system1_hvac"></span></p>
                    </div>
                </div>
            </div>
            <!-- =============================================================================================== -->
            <div class="bigbox">
                <h1>#1 Pabrik Smart Farm</h1>
                <div class="mediumbox">
                    <div class="smallbox">
                        <h1>Subsistem 1: HVAC Control</h1>
                        <h2>SUBSISTEM 1: Sensor Temperatur</h2>
                        <p><span id="temperature"></span>&deg;C</p>
                        <h2>SUBSISTEM 1: Sensor Kelembapan</h2>
                        <p><span id="system1_humidity"></span>%</p>
                        <h2>SUBSISTEM 1: Sensor Okupansi</h2>
                        <p><span id="system1_occupancy"></span> orang</p>
                        <h2>AKTUATOR: Sensor Okupansi</h2>
                        <p><span id="system1_hvac"></span></p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem 2: HVAC Control</h1>
                        <h2>SUBSISTEM 1: Sensor Temperatur</h2>
                        <p><span id="temperature"></span>&deg;C</p>
                        <h2>SUBSISTEM 1: Sensor Kelembapan</h2>
                        <p><span id="system1_humidity"></span>%</p>
                        <h2>SUBSISTEM 1: Sensor Okupansi</h2>
                        <p><span id="system1_occupancy"></span> orang</p>
                        <h2>AKTUATOR: Sensor Okupansi</h2>
                        <p><span id="system1_hvac"></span></p>
                    </div>
                    <div class="smallbox">
                        <h1>Subsistem 1: HVAC Control</h1>
                        <h2>SUBSISTEM 1: Sensor Temperatur</h2>
                        <p><span id="temperature"></span>&deg;C</p>
                        <h2>SUBSISTEM 1: Sensor Kelembapan</h2>
                        <p><span id="system1_humidity"></span>%</p>
                        <h2>SUBSISTEM 1: Sensor Okupansi</h2>
                        <p><span id="system1_occupancy"></span> orang</p>
                        <h2>AKTUATOR: Sensor Okupansi</h2>
                        <p><span id="system1_hvac"></span></p>
                    </div>
                </div>
            </div>
            <!-- =============================================================================================== -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            function updateView(message) {

                const temperature = JSON.parse(
                    message["temperature"]
                );
                document.querySelector("#temperature").innerHTML =
                    temperature[0].fields.value;

            }

            function getData() {
                fetch(`http://${window.location.host}/prauas/api/sensor/`)
                    .then((res) => res.json())
                    .then((data) => updateView(data));
            }

            setInterval(function () {
                const e = getData();
            }, 1000);

            Number.prototype.pad = function (size) {
                var s = String(this);
                while (s.length < (size || 2)) {
                    s = "0" + s;
                }
                return s;
            };
        </script>
    </body>
</html>
