<html>
  <head>
    <title>Sensor Value</title>
    <meta http-equiv="refresh" content="1">
  </head>
  <body style="font-family: sans-serif">
    
    <h1 style="width:800px; margin:20px">Sensor Value</h1>  

    <!-- {{views}} -->
    <table border='1' style="width:1000px; height:100px; margin:20px">
      <tr>
        <th style="width:25%; background-color:blanchedalmond;">Temperature Sensor (℃)</th>
        <th style="width:25%; background-color:blanchedalmond;">Humidity Sensor (%)</th>
        <th style="width:25%; background-color:blanchedalmond;">Light Sensor</th>
        <th style="width:25%; background-color:aquamarine;">Air conditioning unit</th>
      </tr>
      <tr>
        <td align="center">{{ temperature }}</td>
        <td align="center">{{ humidity }}</td>
        <td align="center">{{ light }}</td>
        <td align="center">{{ ac }}</td>
      </tr>
    </table>

    <table border='1' style="width:1000px; height:100px; margin:20px">
      <tr>
        <th style="width:25%; background-color:blanchedalmond;">pH Sensor</th>
        <th style="width:25%; background-color:blanchedalmond;">Turbidity Sensor (NTU)</th>
        <th style="width:25%; background-color:blanchedalmond;">Conductivity Sensor (uS/cm)</th>
        <th style="width:25%; background-color:aquamarine;">Water Pump</th>
      </tr>
      <tr>
        <td align="center">{{ ph }}</td>
        <td align="center">{{ turbidity }}</td>
        <td align="center">{{ conductivity }}</td>
        <td align="center">{{ pump }}</td>
      </tr>
    </table>

    <table border='1' style="width:1000px; height:100px; margin:20px">
      <tr>
        <th style="width:25%; background-color:blanchedalmond;">CO Sensor (ppm)</th>
        <th style="width:25%; background-color:blanchedalmond;">NO2 Sensor (ppm)</th>
        <th style="width:25%; background-color:blanchedalmond;">O3 Sensor (ppb)</th>
        <th style="width:25%; background-color:aquamarine;">Exhaust Fan</th>
      </tr>
      <tr>
        <td align="center">{{ co }}</td>
        <td align="center">{{ no2 }}</td>
        <td align="center">{{ o3 }}</td>
        <td align="center">{{ exhaust }}</td>
      </tr>
    </table>


  </body>
</html>